$clr-primary-orange: hsl(25, 97%, 53%);
$clr-neutral-white: hsl(0, 0%, 100%);
$clr-neutral-grey-light: hsl(217, 12%, 63%);
$clr-neutral-grey-medium : hsl(216, 12%, 54%);
$clr-neutral-blue-dark: hsl(213, 19%, 18%);
$clr-neutral-blue-dark-very: hsl(216, 12%, 8%);

$ff-primary: 'Overpass', sans-serif;
$ff-body: $ff-primary;

$fw-regular: 400;
$fw-bold: 700;